.build/
.DS_Store
.swiftpm/
*.xcworkspace
*.xcodeproj
*.xcuserstate
xcuserdata/
DerivedData/
coverage/
*.tmp
.env
.env.*
CodecKit/build-*/
CodecKit/AVIF/ext/
CodecKit/AVIF/.github/
CodecKit/AVIF/android_jni/
CodecKit/AVIF/apps/
CodecKit/AVIF/contrib/
CodecKit/AVIF/doc/
CodecKit/AVIF/examples/
CodecKit/AVIF/tests/
CodecKit/WebP/examples/
CodecKit/WebP/extras/
CodecKit/WebP/fuzzer/
CodecKit/WebP/gradle/
CodecKit/WebP/imageio/
CodecKit/WebP/infra/
CodecKit/WebP/man/
CodecKit/WebP/swig/
CodecKit/WebP/tests/
CodecKit/WebP/webp_js/
